.task
    overflow: hidden
    width: 90%
    background: rgba(149, 87, 211, 0.582)
    padding: 10px
    margin: 16px
    border-radius: 15px

.cdk-drag-preview 
  box-sizing: border-box
  border-radius: 15px

.cdk-drag-placeholder 
  opacity: 0

.cdk-drag-animating 
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1)

.example-box:last-child 
  border: none

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder)
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1)


.task i 
    float: right
    cursor: pointer
    margin:  10px

.task h3
    font-size: 24px
    margin:  0px
    color: black

.task p
    float: left
    color: #333
    cursor: pointer
    margin: 0px 10px
    margin-top: 3px
    font-size: 16px
