
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css">

<div class="check-tasks">
    <div cdkDropList (cdkDropListDropped)="drop($event)">
        <div *ngFor="let task of tasks"class="task" cdkDrag>
            <a routerLink="info"><h3>{{task}}<i class="cross fas"></i><i class="check fas fa-check"></i>
            </h3><p>{{translate('points')}}: 15</p><p class="task__child-nam">{{translate('child_name')}}: Name</p></a>   
        </div>
    </div>
</div>
