
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css">

<div class="check-tasks">
    <div cdkDropList (cdkDropListDropped)="drop($event)">
        <div *ngFor="let task of tasks"class="task" cdkDrag>
            <a routerLink="info"><img class="task-icon" src="../../assets/img/task-icon/task-icon-kitchen.png"><div class = "task-info"><h3>{{task.name_task}}<i class="cross fas fa-times"></i><i class="check fas fa-check"></i>
            </h3><p>{{translate('points')}}: {{task.point_task}}</p><p class="task__child-nam">{{translate('child_name')}}: {{task.id_child}}</p></div></a>   
        </div>
    </div>
</div>
