
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css">

<div class="check-tasks">
    <div cdkDropList (cdkDropListDropped)="drop($event)">
        <div *ngFor="let task of tasks"class="task" cdkDrag>
            <div class = "task-info"><a href={{url}}{{task.id}}><img class="task-icon" src="../../assets/img/task-icon/task-icon-kitchen.png"><h3>{{task.name_task}}</h3></a><a (click) ="updateTasktoInProgress(task)"><i class="cross fas fa-times"></i></a><a (click) ="updateTasktoDone(task)"><i class="check fas fa-check"></i></a>
            <p>{{translate('points')}}: {{task.point_task}}</p><p class="task__child-nam">{{translate('child_name')}}: {{task.id_child}}</p></div>   
        </div>
    </div>
</div>
