.ico1 {

    svg {
        
    }
}
.ico2 {
    margin-top: 5px;

    svg {
        margin-top: 24px !important;
    }
}
.ico3 {

    svg {
        margin-top: 15px !important;
    }
}
.ico4 {
    margin-top: 3px;

    svg {
        margin-top: 21px !important;
    }
}
.ico5 {
    margin-top: 3px;

    svg {
        margin-top: 21px !important;
    }
}
.ico6 {
    margin-top: 3px;

    svg {
        margin-top: 21px !important;
    }
}
.ico7 {
    margin-top: 3px;

    svg {
        margin-top: 21px !important;
    }
}
.ico {
    margin-block-start: 3px;
    svg {
        zoom: 0.74;
    }
}