<div class="login-page">
  <img src="../../assets/img/logo.png" alt="logo" class="login-page__logo">
  <label for="uname" class="login-page__label">Username</label>
  <input type="text" name="uname" placeholder="Enter Username" class="login-page__input">
  <label for="pwd" class="login-page__label">Password</label>
  <input type="password" name="pwd" placeholder="Enter password" class="login-page__input">
  <button type="submit" class="login-page__button">LOGIN</button>
  <div class="login-page__text">
    Don't have account?
    <a href="login" class="login-page__text_link">Sign up</a>
  </div>
</div>
