.task{
    overflow: hidden;
    width: 90%;
    background: rgba(95,60,107,0.3);
    padding: 10px;
    margin: 16px;
    border-radius: 15px;

}

.task i {
    float: right;
    cursor: pointer;
    margin:  10px;
}
.task h3{
    font-size: 24px;
    margin:  0px;
    color: black;
}
.task p{
    float: left;
    color: #333;
    cursor: pointer;
    margin: 0px 10px;
}

.btn {
  background-color: rgba(166, 79, 253, 0.9);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  color: black; 
    position: fixed;
  bottom: 0;
  width: 100%; 
}

