<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css">

 
<div class = "check-tasks">
    <div class="task">
        <a routerLink="change"><h3>task<i class="fas fa-chevron-right"></i>
        </h3><p>Point: 15</p></a>  
    </div>
    <div class="task">
        <a routerLink="change"><h3>task<i class="fas fa-chevron-right"></i>
        </h3><p>Point: 15</p></a>  
    </div>
    <div class="task">
        <a routerLink="change"><h3>task<i class="fas fa-chevron-right"></i>
        </h3><p>Point: 15</p></a>  
    </div>
    <div class="task">
        <a routerLink="change"><h3>task<i class="fas fa-chevron-right"></i>
        </h3><p>Point: 15</p></a>  
    </div>
    <div class="task">
        <a routerLink="change"><h3>task<i class="fas fa-chevron-right"></i>
        </h3><p>Point: 15</p></a>  
    </div>
    <div class="task">
        <a routerLink="change"><h3>task<i class="fas fa-chevron-right"></i>
        </h3><p>Point: 15</p></a>  
    </div>
    <div class="task">
        <a routerLink="change"><h3>task<i class="fas fa-chevron-right"></i>
        </h3><p>Point: 15</p></a>  
    </div>
    <div class="task">
        <a routerLink="change"><h3>task<i class="fas fa-chevron-right"></i>
        </h3><p>Point: 15</p></a>  
    </div>
    <div class="task">
        <a routerLink="change"><h3>task<i class="fas fa-chevron-right"></i>
        </h3><p>Point: 15</p></a>  
    </div>

    <button class="btn add-btn" routerLink='add'>Add task</button>

</div>
