<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css">

<div class="child-tasks">
    <div cdkDropList (cdkDropListDropped)="drop($event)">
        <div *ngFor="let task of tasks"class="task" cdkDrag>
            <div class = "task-info">
            <a href={{url}}{{task.id}}><img class="task-icon" src="../../assets/img/task-icon/task-icon-kitchen.png"><h3>{{task.name_task}}</h3></a><i class="fas fa-check" *ngIf="isChild" (click)="updateTasktoCheck(task)"></i>
            <p>{{translate('points')}}: {{task.point_task}}</p><p class="task__child-name" *ngIf="!isChild">{{translate('child_name')}}: {{task.id_child}}</p></div>   
        </div>
    </div>
</div>

