<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css">

<div class="child-tasks">
    <div class="task">
        <a routerLink="info"><h3>task<i class="fas"></i>
        </h3><p>Point: 15</p> <p class="task__child-name">Child: Name</p></a>  
    </div>
    <div class="task">
        <a routerLink="info"><h3>task<i class="fas"></i>
        </h3><p>Point: 15</p> <p class="task__child-name">Child: Name</p></a>  
    </div>
    <div class="task">
        <a routerLink="info"><h3>task<i class="fas"></i>
        </h3><p>Point: 15</p> <p class="task__child-name">Child: Name</p></a>  
    </div>
    <div class="task">
        <a routerLink="info"><h3>task<i class="fas"></i>
        </h3><p>Point: 15</p> <p class="task__child-name">Child: Name</p></a>  
    </div>
    <div class="task">
        <a routerLink="info"><h3>task<i class="fas"></i>
        </h3><p>Point: 15</p> <p class="task__child-name">Child: Name</p></a>  
    </div>
    <div class="task">
        <a routerLink="info"><h3>task<i class="fas"></i>
        </h3><p>Point: 15</p> <p class="task__child-name">Child: Name</p></a>  
    </div>
    <div class="task">
        <a routerLink="info"><h3>task<i class="fas"></i>
        </h3><p>Point: 15</p> <p class="task__child-name">Child: Name</p></a>  
    </div>
    <div class="task">
        <a routerLink="info"><h3>task<i class="fas"></i>
        </h3><p>Point: 15</p> <p class="task__child-name">Child: Name</p></a>  
    </div>
</div>