
.registration__body {
    height: 100%;
    width: 100%;
    background: linear-gradient(162.39deg, rgba(143, 0, 255, 0.61) 2.8%, rgba(81, 139, 225, 0.75) 45.97%, rgba(144, 2, 255, 0.41) 93.16%), #C4C4C4;
}

.registration__title {
    height: 33%;
    .logo--registration {
        padding-top: 44px;
        padding-right: 35px;
        left: 27px;
        top: 44px;
        .svg--logo{
            color: rgba(250, 0, 187, 0.719);
            fill: rgba(255, 255, 255, 0.400);
            width: 238px;
            height: 91px;
        }
    }
}

.registration__form {

    .input-group--registration {
        display: block;

        .input-text--registration{
            padding: 5px;
            width: 70%;
            font-weight: 200;
            font-size: 18px;
            line-height: 40px;
            color: rgba(255, 255, 255, 0.5);
            background: transparent;
            border: 0px;
            border-bottom:  1px solid rgba(255, 255, 255, 0.5);

            &::placeholder {
                color: rgba(255, 255, 255, 0.5);
                font-style: italic;
            }
            &:focus{
                outline: none;
            }
            
        }
        //check autofill

        .form-control-feedback--registration {
            font-style: italic;
            font-size: 13px;
            color: rgba(231, 195, 195, 0.5);
            p {
                margin-top: -3px;
                margin-bottom: -17px;
            }
        }

        .input-success--registration {
            color: rgba(174, 245, 215, 0.5);
            border-bottom:  2px solid rgba(0, 255, 34, 0.459);
        }

        .input-danger--registration {
            color: rgba(255, 189, 203, 0.5);
            border-bottom:  2px solid rgba(255, 0, 0, 0.466);
        }
    }    




    .radio-group--registration {
        margin-top: 30px;
        .custom-radio--registration{
            display: inline;
            padding-right: 20px;
            color: rgba(255, 255, 255, 0.5);

            .input-radio--registration~.label--registration {
                &::before {
                    background-color: rgba(255, 255, 255, 0.1);
                }
                &::after {
                    cursor: pointer;
                }
            }

            .input-radio--registration:checked~.label--registration {
                &::before {
                    background-color: rgba(166, 79, 253, 0.69);
                    border-color: rgba(144, 2, 255, 0.41)
                }
            }
        } 
    }



    .btn-group--registration{
        margin-top: 30px;
        .btn--registration {
            width: 267px;
            height: 40px;

            background: rgba(166, 79, 253, 0.69);
            border-radius: 20px;

            font-family: Roboto;
            color: rgba(255, 255, 255, 0.57);
            font-size: 18px;
            line-height: 21px;
        }

        .btn-disable--registration {
            background: rgba(188, 142, 233, 0.69);
            color: rgba(255, 255, 255, 0.363);
            cursor:  no-drop;
            pointer-events: none;
        }
    }
}

.registration__footer {
    .msg--registration {
        font-family: Roboto;
        font-size: 13px;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.3);
    }
}