  <div class="content">
      <div class="content__item"><a href="#">Батько</a></div>
      <div class="content__item"><a href="#">Мати</a></div>
      <div class="content__item"><a href="#">Честер</a></div>
      <div class="content__item"><a href="#">Аліса</a></div>
    
      <div class="content__item"><a href="#">Батько</a></div>
      <div class="content__item"><a href="#">Мати</a></div>
      <div class="content__item"><a href="#">Честер</a></div>
      <div class="content__item"><a href="#">Аліса</a></div>
      <!-- <div>
        <button type="button" class="btn" (click)='getData()'>Get Data</button>
      </div>

  <div class="text-container">
    <a *ngFor="let d of data | async">
      {{d.name}}
    </a>
  </div>
  <pre>Data Obtained is: {{ data | json }}</pre>
    </div> -->
    