i
	padding: 10px 20px
	color: black
header
	box-shadow: 0 0 10px rgba(0,0,0,0.2)

h3
	margin: 20px 20px
	font-size: 22px
	color: #888

h2
	margin: 10px 30px
	font-size: 26px


.name-task
	margin: 30px
	margin-top: 40px

p
	margin: 20px 20px
	font-size: 18px
