
<div class="all">
<h3 class="name_task">{{translate('name_task')}}</h3>
<input type="text" placeholder="{{translate('name_your_task')}}" class="input-name_task"  [(ngModel)]="task.name_task">

<h3 class = "title_category" >{{translate('category')}}</h3>
<div class="chose-category">
    <select id="category" class="category-select" (change)="filterChanged($event.target.value)">
      <option >Bиберіть категорію</option>
      <option value="1">Home</option>
      <option value="2">Kitchen</option>
      <option value="3">Education</option>
      <option value="4">Shop</option>
      <option value="5">Pet</option>
    </select>
</div>

<h3 class="title_point">{{translate('points')}}</h3>
<input type="number" placeholder="0" class="input-point" src="../../assets/img/task-icon/Coin.png" [(ngModel)]="task.point_task">

<h3 class='title_info'>{{translate('more_info')}}</h3>
<textarea name="Text1" cols="40" rows="3" placeholder="{{translate('write_info_about_task')}}" [(ngModel)]="task.info_task"></textarea>
<div class="button">
<button class="btn_add"  (click)='createTask()'>{{translate('add')}}</button>
<img class="btn_cansel" src="../../assets/img/task-icon/Cancel Button.png" (click)="closeModal()">
</div>
</div>

