<div class="login column_center">
  <img src="../../assets/img/Childify_Logo_Name_1080.png" alt="logo" class="login__logo">
  <div class="login__group">
    <input type="text" formControlName="family_id" placeholder="ID Сім'ї" class="login__input">
  </div>
  <button class="login__button" routerLink="/">
    <span></span>
    Приєднатися
  </button>
</div>
<div class="connect-menu">
  <img src="../../assets/img/connect/ConnectActive.png" alt="connect-icon" class="connect-menu__img connect-menu__img_padding-right">

  <img routerLink="/new-create-family" src="assets/img/connect/Create.png" alt="create-icon" class="connect-menu__img">
  <!---
  <img src="assets/img/connect/CreateNonActive.png" alt="connect-icon" class="connect-menu__img">
  --->
</div>
