.header-childify__title
	font-size: 45px

i
	padding: 10px 20px
	color: black
header
	padding: 10px	
	height: 80px
	width: 100%
	background: white
	box-shadow: 0 0 10px rgba(0,0,0,0.2)

.input-name_task
	border-top: none
	border-left: none
	border-right: none
	margin: 30px
	font-size: 32px


h3
	margin: 8px 20px
	font-size: 30px
	color: #888

input
	font-size: 20px
	border: none
	border-bottom: 1px solid #ddd
	width: 80%
	margin: 10px 30px


.input-point
	width: 55px
	text-align: right
	font-size: 30px


.input-hidden 
	position: absolute
	left: -9999px


input[type=radio]:checked + label>img 
	border: 1px solid #fff
	margin: 10px 20px
	filter: grayscale(0%)

.chose-category
	width: 95%
	margin-left: auto
	margin-right: auto
	text-align: center
 
.div-category2
	margin-top: -30px
  

  

/* Stuff after this is only to make things more pretty */
input[type=radio] + label>img 
	width: 80px
	height: 80px
	transition: 500ms all
	margin: 10px 20px
	filter: grayscale(90%)




textarea
	border: none
	margin: 20px 30px
	font-size: 21px
	width: 85%
	line-height: 1.5em


.btn 
	background-color: rgba(166, 79, 253, 0.9)
	padding: 16px 32px
	text-align: center
	text-decoration: none
	display: inline-block
	font-size: 26px
	color: black
	display: block
	margin-left: auto
	margin-right: auto
	bottom: 0
	border-radius: 35px