.ico1, .ico2, .ico3, .ico4, .ico6, .ico7 , .ico8, .ico9{
    svg {
        width: 12vh;
        height: 17vh
    } 
}

.ico5{
    svg {
        width: 9vh;
        height: 17vh
    } 
}

    
    
                