<div class="navigation-bar">
    <input class="navigation-bar__toggle-input" id="navigation-bar__toggle-input" type="checkbox">
    <label class="navigation-bar__toggle-container" for="navigation-bar__toggle-input">
        <span class="button button-toggle"></span>
    </label>
    
    <nav class="nav">
        <a class="nav__item" href="">Home</a>
        <a class="nav__item" href="">Shop</a>
        <a class="nav__item" href="">ToDo</a>
        <a class="nav__item" href="">About</a>
       </nav>

    <div class= "navigation-bar__logo"><a>Childify</a></div>
  </div>