<div class="login">
    <form class="credit-form">
        <label class="credit-form__label">Username</label>
        <input class="credit-form__field" type="text" placeholder="Enter Username">
    </form>
    <form class="credit-form">
        <div class="credit-form__label">Password</div>
        <input class="credit-form__field" type="password" placeholder="Enter Password">
    </form>
    <div class="login--padding">
        <button class="login__button">☠️ Login ☠️</button>
    </div>
    <div class="login__sign-up">
        Don't have an account? <a href="#">Sign up</a>
    </div>
</div>
