venv
.idea
childify_api/db.sqlite3
childify_api/Child/__pycache__
childify_api/Child/migrations/__pycache__
childify_api/Parent/__pycache__
childify_api/Parent/migrations/__pycache__
childify_api/Child_prize/__pycache__
childify_api/Child_prize/migrations/__pycache__
childify_api/Family/__pycache__
childify_api/Family/migrations/
childify_api/Prize/__pycache__
childify_api/Prize/migrations/__pycache__
childify_api/User/__pycache__
childify_api/User/migrations/__pycache__
childify_api/childify_api/__pycache__