$square-side: 150px;
$backgroung-violet: rgb(242, 226, 255);
$custom-gray: rgba(119, 142, 148, 0.25);

html, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

::ng-deep body {
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
}

.content {
  width: 100%;
  //margin: 30px auto;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  //justify-content: center;
  align-items: center;

  & .children-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    //align-items: center;

    max-width: 800px;
  }
}

.parent-container {
  display: flex;
  width: 100%;
  padding-bottom: 3%;
  overflow-x: scroll;
  //width: fit-content;
  flex-direction: row;
  //justify-content: center;
  

  &::-webkit-scrollbar {
    display: none;
  }

  & .parent-container-scrollable {
    display: flex;
    //width: fit-content;
    margin: auto;
  }
}
