$square-side: 150px;
$backgroung-violet: rgb(242, 226, 255);

html, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

::ng-deep body {
  margin: 0px;
  padding: 0px;
  background-color: $backgroung-violet;
}
/*
  d
*/
.childify-body {
  //background-color: $backgroung-violet;
}

.content {
  width: 100%;
  margin: 30px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
