  <app-nav-menu></app-nav-menu>
  <div class="content">
      <div class="content__item"><img src="../../assets/svg/parents.svg"/><a href="#">Батько</a></div>
      <div class="content__item"><img src="../../assets/svg/parents.svg"/><a href="#">Мати</a></div>
      <div class="content__item"><img src="../../assets/svg/kids.svg"/><a href="#">Честер</a></div>
      <div class="content__item"><img src="../../assets/svg/kids.svg"/><a href="#">Аліса</a></div>
    
      <div class="content__item"><img src="../../assets/svg/grandfather.svg"/><a href="#">Батько</a></div>
      <div class="content__item"><img src="../../assets/svg/woman.svg"/><a href="#">Мати</a></div>
      <div class="content__item"><img src="../../assets/svg/dog.svg"/><a href="#">Пес</a></div>
      <div class="content__item"><img src="../../assets/svg/daughter.svg"/><a href="#">Аліса</a></div>
  
      