  <!-- <app-nav-menu></app-nav-menu> -->
  <div class="content" *ngIf="children || parents; else noFamilyMembers">
    
    <div class="parent-container">
      <app-family-parent-item 
        *ngFor="let parent of parents"
        [parent]="parent"
      ></app-family-parent-item>
    </div>

      <app-family-member
          *ngFor="let member of children"
          [familyChild] = "member"
        ></app-family-member>
      </div>

      <ng-template #noFamilyMembers>
        <p>No family members</p>
    </ng-template>