$square-side: 150px;
$backgroung-violet: rgb(242, 226, 255);

html, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

::ng-deep body {
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
}

.content {
  width: 100%;
  //margin: 30px auto;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.parent-container {
  display: flex;
  padding-bottom: 3%;
  overflow-x: scroll;
  width: fit-content;
  flex-direction: row;

  &::-webkit-scrollbar {
    display: none;
  }
}