<div class="bar">
  <div class="bar__name">
    <div class="bar__name__logo">
      <img src="../../assets/svg/family_logo.svg" alt="family logo">
    </div>

    <a>Family</a>
  </div>
</div>
<!-- <app-nav-menu></app-nav-menu> -->
  <div class="content" *ngIf="children || parents; else noFamilyMembers">
    
    <div class="parent-container">
      <div class="parent-container-scrollable">

        <app-family-parent-item 
          *ngFor="let parent of parents"
          [parent]="parent"
        ></app-family-parent-item>
      </div>
      
    </div>

    <div class="children-container">
      
      <app-family-member
          *ngFor="let member of children"
          [familyChild] = "member"
        ></app-family-member>
    </div>
      
  </div>

    <ng-template #noFamilyMembers>
        <p>No family members</p>
    </ng-template>

<app-family-recent-events></app-family-recent-events>
    