<div class="login column_center">
  <img src="../../assets/img/Childify_Logo_Name_1080.png" alt="logo" class="login__logo">
  <div class="login__group">
    <input type="text" formControlName="family_id" placeholder="Ім'я для відображення" class="login__input">
  </div>
  <button class="login__button" routerLink="/">
    <span></span>
    Створити сім'ю
  </button>
</div>
<div class="connect-menu">
  <img routerLink="/new-connect-family" src="../../assets/img/connect/Connect.png" alt="connect-icon" class="connect-menu__img connect-menu__img_padding-right">
  <img src="assets/img/connect/CreateActive.png" alt="create-icon" class="connect-menu__img">
</div>
