<div class="content__item">
    <div class="avatar-wrapper">
        <img src="{{ familyMember.imgUrl }}"/>
    </div>
   
    
    <div class="content__item__data">
        
        <a href="{{ familyMember.memberUrl }}">{{ familyMember.name }}</a>
        <div class="content__item__data__info">
                <div class="img-conis">
                <img src="../../assets/svg/coin.svg" alt="coins image">
                <a>100</a>
            </div>
            <div class="img-checked-task">
                <img  src="../../assets/svg/checked_task.svg" alt="checked tasks image">
                <a>5</a>
            </div>
            <div class="img-reward">
                <img src="../../assets/svg/reward.svg" alt="reward image">
                <a>8</a>
            </div>
            <div class="img-task">
                <img src="../../assets/svg/task.svg" alt="tasks image">
                <a>43</a>
            </div>
            <div class="img-canceled-task">
                <img src="../../assets/svg/casnceled_task.svg" alt="canceled tasks image">
                <a>2</a>
            </div>
            
        </div>
        
    </div>
</div>
