$square-side: 150px;
$backgroung-violet: rgb(242, 226, 255);

:host-context(.content) {
  width: 100%;
}



.content__item {
  background: #FFFFFF;
  border: 1px solid rgba(119, 142, 148, 0.25);
  box-sizing: border-box;
  border-radius: 10px;  
  max-width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  padding: 14px;
  margin-bottom: 45px;
  display: flex;
  align-items: center;

  & a{
    padding-left: 0px;
    padding-top: 0px;
    display: block;
    text-decoration: none;
    color: black;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.0357143em;
  }

  & .avatar-wrapper {
      border-radius: 50%;
      margin: 3px;
      padding: 10px;
      min-width: 98px;
      min-height: 98px;
      display: flex;
      justify-content: center;
      align-items: center;
      
      background: #FFFFFF;
      border: 1px solid rgba(119, 142, 148, 0.25);
      box-sizing: border-box;
      box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
  }
}

.content__item__data {

  padding-left: 15px;

  & .content__item__data__info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


    & .img-conis,
      .img-checked-task,
      .img-task,
      .img-canceled-task,
      .img-reward {
        display: flex;
        flex-direction: row;
        padding: 0px;
        margin: 0px 48px 11px 0px;

        & a {
          margin: 0px 0px 0px 7px;
          padding: 0px;
          justify-self: center;
          align-self: center;

          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          letter-spacing: 0.0357143em;

          color: #000000;
        }
      }

      & .img-reward {
        height: 20px;
      }

  }
  
}
