<div class="registration__form registration__form--step2 text-center">
    <tabset type="pills" [justified]="true" class="tabset--registration">
        <tab customClass="tab tab--registration tab--create" (selectTab)= "isCreate = true" heading="Create family">
            <div class="input-group input-group--registration">
                <input class="input-text input-text--registration" [(ngModel)]="data.name"placeholder="family name">
            </div>
        </tab>
        <tab customClass="tab tab--registration tab--connect" [active]="true" (selectTab)= "isCreate = false" heading="Connect family">
            <div class="input-group input-group--registration">
                <input class="input-text input-text--registration" [(ngModel)]="data.family_id" placeholder="family id">
            </div>
        </tab>
    </tabset>
    <div class= "btn-group btn-group--registration">
        <button class="btn btn-primary btn--registration" (click)="connectCreateFamily()" type="button">Submit</button>
    </div>
</div>
