
.registration__body {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
}

.registration__title {
    height: 39%;
    .logo--registration {       
        justify-content: center;
        display: flex;
        height: 100%;
        .svg--logo{
            color: rgba(250, 0, 187, 0.719);
            fill: rgba(255, 255, 255, 0.400);
            width: 238px;
            height: 91px;
        }
        .register-page__logo {
            height: 30vh;
            align-self: center;
        }
    }
}

.registration__form {

    .input-group--registration {
        display: block;

        .input-text--registration{
            padding: 5px;
            width: 70%;
            font-weight: 200;
            font-size: 18px;
            line-height: 40px;
            color: rgba(0, 0, 0, 0.842);
            background: transparent;
            border: 0px;
            border-bottom:  1px solid  rgba(0, 0, 0, 0.829);;

            &::placeholder {
                color: rgba(63, 63, 63, 0.856);
                font-style: italic;
            }
            &:focus{
                outline: none;
            }
            
        }
    }    
}


.registration__form--step2 {    
        .tabset--registration {
            .tab--registration {
                margin-top: 15px;
             }            

             ::ng-deep .nav-pills .nav-link.disabled {
                color: rgba(182, 182, 182, 0.57);
             }
             
             ::ng-deep .nav-pills .nav-link.active, 
             ::ng-deep .nav-pills .show > .nav-link {
                 background-color: rgba(166, 79, 253, 0.69);
                 border-radius: 10px;
             
                 font-family: Roboto;
                 color: rgba(255, 255, 255, 0.57);
                 font-size: 18px;
                 line-height: 21px;
             }
     
             ::ng-deep .nav-pills .nav-link {
                 font-family: Roboto;
                 color: rgba(255, 255, 255, 0.57);
                 font-size: 18px;
                 line-height: 21px;
             }
        }    
    }