<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css">

<header class="header-childify">
    <h1 class="header-childify__title"><a routerLink='../../'><i class="fas fa-chevron-left"></i></a>{{translate('info_task')}}</h1>
</header>

<h2 class="name-task">{{task.name_task}}</h2>
<h3>{{translate('points')}}</h3>
<h2>{{task.point_task}}</h2>
<h3 class = "child-title">{{translate('child')}}</h3>
<h2 class="child-name">{{task.id_child}}</h2>
<h3>{{translate('more_info')}}</h3>
<p>{{task.info_task}}</p>
