

<div class="body">
<h3 class="name_task">{{translate('name_task')}}</h3>
    <h2 class="name-task">{{task.name_task}}</h2>
<h3 class = "category-title">{{translate('category')}}</h3>
    <h2 class="category">{{name_category}}</h2>

<h3 class="title_point">{{translate('points')}}</h3>
<h2 class="point">{{task.point_task}}</h2>
<img class="coin" src="../../assets/img/task-icon/Coin_input.png">
<h3 class="title_info">{{translate('more_info')}}</h3>
<p>{{task.info_task}}</p>
<img class="btn_cansel" src="../../assets/img/task-icon/Cancel Button.png" (click)="closeModal()">
</div>