 <!DOCTYPE html>
 <html>
 <head>
 	<title>Task</title>
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css">

    </head>
    <body>


<header class="header-childify">
    <h1 class="header-childify__title"><a routerLink='../'><i class="fas fa-chevron-left"></i></a>Info Task</h1>
</header>
<h2 class="name-task">Name task</h2>
<h3>Point</h3>
<h2>15</h2>
<h3 class = "child-title">Child</h3>
<h2 class="child-name">Name Child</h2>
<h3>More info</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 Phasellus rutrum ligula a velit tincidunt, a congue ipsum vehicula.<br>
  Phasellus placerat nulla ut ipsum imperdiet vehicula.<br>
   Aliquam scelerisque sed eros sed pretium.<br>
    Vestibulum porttitor, est in tempor accumsan, arcu quam pellentesque augue, ut imperdiet sapien dolor vel arcu.</p>
</body>
</html>