.header-childify__title
	font-size: 45px

i
	padding: 10px 20px
	color: black
header
	padding: 10px	
	height: 80px
	width: 100%
	background: white
	box-shadow: 0 0 10px rgba(0,0,0,0.2)

h3
	margin: 20px 20px
	font-size: 30px
	color: #888

h2
	margin: 20px 30px
	font-size: 36px


.name-task
	margin: 30px
	margin-top: 40px

p
	margin: 20px 20px
	font-size: 21px
	width: 85%
	line-height: 1.5em
