<div class="login column_center">
  <img src="assets/img/Childify_Logo_Name_1080.png" alt="logo" class="login__logo logo_margin">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="column_center">
    <div class="login__group">
      <input type="text" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Електронна адреса" class="login__input">
      <div *ngIf="submitted && f.email.errors">
          <div *ngIf="f.email.errors.required" class="login__error">Помилка. Не введена електронна адреса</div>
      </div>
      <input type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Пароль" class="login__input">
      <div *ngIf="submitted && f.password.errors">
        <div *ngIf="f.password.errors.required" class="login__error">Помилка. Не введений пароль</div>
      </div>
    </div>
    <div class="login__link text_margin" routerLink="/change-password">Забув пароль?</div>
    <button [disabled]="loading" class="login__button">
      <span *ngIf="loading"></span>
      Увійти
    </button>
  </form>
  <div class="login__link" routerLink="/registration">Зареєструватись</div>
</div>
