<form [formGroup]="loginForm" class="login-page">
  <img src="../../assets/img/logo.png" alt="logo" class="login-page__logo">

  <label for="username" class="login-page__label">Username</label>
  <input formControlName="username" placeholder="Enter Username" class="login-page__input" type="text"
    [ngClass]="{
      'input-success--login': (username.touched || username.dirty) && username.valid,
      'input-danger--login': (username.touched || username.dirty) && username.invalid}">
  <div class="login-page__feedback" *ngIf="username.invalid && (username.touched || username.dirty)">
    <div *ngIf="username.errors.required">Username is required</div>
  </div>

  <label for="password" class="login-page__label">Password</label>
  <input formControlName="password" type="password" placeholder="Enter password" class="login-page__input"
    [ngClass]="{
      'input-success--login': (password.touched || password.dirty) && password.valid,
      'input-danger--registration': (password.touched || password.dirty) && password.invalid
    }">
  <div class="login-page__feedback" *ngIf="password.invalid && (password.touched || password.dirty)">
    <div *ngIf="password.errors.required">Password is required</div>
  </div>

  <button class="login-page__button" type="button"
    [ngClass]="{
      'btn-disable--login': username.errors || password.errors
    }"
  >LOGIN</button>

  <div class="login-page__text">
    Don't have account?
    <span routerLink="/registration" class="login-page__text_link">Sign up</span>
  </div>
</form>
