$violet: blueviolet;
$bright_violet: rgba(189, 10, 255, 1);

.section {
    display: flex;
    justify-content: start;
    align-items: center;
    
}

.menu-btn {
    display: block;
    width: 50px;
    height: 50px;
    background-color: $violet;
    border-radius: 50%;
    position: relative;
}

.menu-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-nav__item {
    text-decoration: none;
    display: block;
    color: white;
    margin: 3px;
}

.menu-nav {
    display: none;


}

.menu-nav.active {
    display: contents;
    transition: 0.5s;
    transform-origin: top center;
    transform: scaleY(0);
    opacity: 0;
    background-color: $violet;
}

.menu-nav.active.show {
    display: table;
    transform: scaleY(1);
    opacity: 1;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 50%; margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: white;
}

.menu-btn span {
    transition: 1s;
}

.menu-btn span::before,
.menu-btn span::after {
    transition: 0.5s;
    content: '';
}

.menu-btn span::before {
    transform: translateY(-5px);
}

.menu-btn span::after {
    transform: translateY(5px);
}

.menu-btn.active {
    
    & span{
        transform: rotate(135deg);
        transition: 1s;

        &::before, &::after{
            transform: rotate(90deg);
        }

    }
}