<div class="nav-bar">
    <div class="menu-block">
        <nav class="menu-block__menu-nav" id="menu-nav">
            <h2>Childify</h2>
            <ul>
                <li><a class="menu-block__menu-nav__item" href="/family">Family</a></li>
                <li><a class="menu-block__menu-nav__item" href="/shop">Shop</a></li>
                <li><a class="menu-block__menu-nav__item" href="/task">Tasks</a></li>
                <li><a class="menu-block__menu-nav__item" href="/login">Log Out</a></li>
            </ul>
        </nav>
        
    </div>
<a href="javascript:void(0);" id="menu-btn-link" class="nav-bar__menu-btn" (click)='navMenuAni()'>
            <span></span>
        </a>
</div>