.ico {
    svg {
        //zoom: 0.74;
        width: 35px;
        height: 41px;
        margin-top: 15px;
    }
}

.ico1 {

    svg {
        width: 45px;
        height: 41px;
        margin-top: 15px;
    }
}
.ico2 {

    svg {
        width: 41px;
        height: 41px;
        margin-top: 15px;
    }
}
.ico3 {

    svg {
        margin-left: 4px;
    }
}
.ico4 {

    svg {
        width: 28px;
        height: 41px;
        margin-top: 16px;
        margin-left: 6px;
    }
}
.ico5 {

    svg {
        width: 30px;
        height: 41px;
        margin-top: 15px;
        margin-left: 4px;
    }
}
.ico6 {

    svg {
        width: 33px;
        height: 41px;
        margin-top: 15px;
        margin-left: 4px;
    }
}
.ico7 {

    svg {
        width: 36px;
        height: 41px;
        margin-top: 16px;
        margin-left: 3px;
    }
}
