<div class="recent-item">
    <div class="avatar-wrapper">
        <img src="../../assets/svg/any_avatar.svg"/>
    </div>


    <div class="content__item__data">
        <p class="status">Complete</p>

        <a>Name</a>

        <div class="content__item__data__info">
            <div class="img-conis">
                <img src="../../assets/svg/coin.svg" alt="coins image">
                <a>100</a>
            </div>
            <div class="img-conis">
                <img src="../../assets/svg/time.svg" alt="time image">
                <a>20:30</a>
            </div>
            
        </div>
        
    </div>

    <div class="status-wrapper">
        <img src="../../assets/svg/task_statuses/1.svg"/>
    </div>

</div>
