<div class="login column_center">
  <img src="../../assets/img/Childify_Logo_Name_1080.png" alt="logo" class="login__logo">
  <div class="ava-group">
    <img src="../../assets/img/ava-icon/1.png" alt="ava"  class="ava-group__main-ava">
    <div class="ava-group__container">
        <img src="../../assets/img/ava-icon/1.png" alt="ava" class="ava-group__ava">
        <img src="../../assets/img/ava-icon/2.png" alt="ava" class="ava-group__ava">
        <img src="../../assets/img/ava-icon/3.png" alt="ava" class="ava-group__ava">
        <img src="../../assets/img/ava-icon/4.png" alt="ava" class="ava-group__ava">
        <img src="../../assets/img/ava-icon/5.png" alt="ava" class="ava-group__ava">
        <img src="../../assets/img/ava-icon/6.png" alt="ava" class="ava-group__ava">
        <img src="../../assets/img/ava-icon/7.png" alt="ava" class="ava-group__ava">
        <img src="../../assets/img/ava-icon/8.png" alt="ava" class="ava-group__ava">
        <img src="../../assets/img/ava-icon/9.png" alt="ava" class="ava-group__ava">
    </div>
  </div>
  <div class="login__group">
    <input type="text" formControlName="email" placeholder="Електронна адреса" class="login__input">
    <input type="password" formControlName="password" placeholder="Пароль" class="login__input">
  </div>
  <div class="radio-group">
    <div class="radio-group__container">
      <input type="radio" class="radio-group__check-box" id="child" name="isParent" checked>
      <label for="child"></label>
      <div class="radio-group__label">Дитина</div>
    </div>
    <div class="radio-group__container">
      <input type="radio" class="radio-group__check-box" id="parent" name="isParent">
      <label for="parent"></label>
      <div class="radio-group__label">Дорослий</div>
    </div>
  </div>
  <button class="login__button" routerLink="/new-connect-family">
    <span></span>
    Зареєструватись
  </button>
  <div class="login__link" routerLink="/new-login">Уже маєш профіль? Увійти</div>
</div>
