.settings-page {
    width: 100%;
    margin: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.settings-block {
    flex: 1 0 auto;
}

.avatar-block {

    display: flex;
    flex-direction: row;
    margin-top: 10px;
    min-height: 20%;
    
    justify-content: space-between;

    & .current-avatar {
        
        display: block;
        margin: 10px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        
        background: #FFFFFF;
        /* Light_Grey_25 */
        border: 1px solid rgba(119, 142, 148, 0.25);
        box-sizing: border-box;
        /* Light Shadow */
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
        
        & img {
            position: relative;
            left: 30%;
            max-width: 70%;
        }
    }

    & .change-avatar {
        max-width: 60%;
        & img {
            border-radius: 50%;
        
            /* White */
            background: #FFFFFF;
            /* Light_Grey_25 */
            border: 1px solid rgba(119, 142, 148, 0.25);
            box-sizing: border-box;
            /* Light Shadow */
            box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);

            margin: 15px;
            max-width: 12%;
        }
    }
}

.data-block {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
   
    align-items: center;

    & input {
        width: 80%;
        margin: 5px 0px 0px 15px;
        min-height: 35px;

        /* White */
        background: #FFFFFF;
        /* Light_Grey_25 */
        border: 1px solid rgba(119, 142, 148, 0.25);
        box-shadow: inset 3px 3px 4px rgba(0, 0, 0, 0.05);
        border-radius: 6px;
    }
}

.buttons-block {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    margin: 5%;
    & button {
        background-color: white;
        margin-bottom: 10px;
        height: auto;
        min-height: 35px;
        overflow: visible;

        /* White */
        background: #FFFFFF;
        /* Light_Grey_25 */
        border: 1px solid rgba(119, 142, 148, 0.25);
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 6px;

        font-size: 30px;
        color: rgb(33, 33, 33);
    }
}