<div class="settings-page">
    <div class="settings-block">
        <div class="avatar-block">
            <div class="current-avatar">
                <img src="../../assets/img/Childify_Logo.png"/>
            </div>
            
            <div class="change-avatar">
                <img src="../../assets/img/Childify_Logo.png"/>
                <img src="../../assets/img/Childify_Logo.png"/>
                <img src="../../assets/img/Childify_Logo.png"/>
                <img src="../../assets/img/Childify_Logo.png"/>
                <img src="../../assets/img/Childify_Logo.png"/>
            </div>
        </div>

        <div class="data-block">
            <input type="text">
            <input type="text">
        </div>
    </div>
    
    <div class="buttons-block">
        <button class="btn-confirm">Зберегти</button>
        <button class="btn-get-family-id">Дізнатися ID сім'ї</button>
        <button class="btn-out-from-family">Вийти з сім'ї</button>
    </div>
</div>