.shop-list__body {
    .shop-list__head {
        overflow: auto;
        .navbar--shop-list {
            z-index: 1;
            padding: 0;
            width: 100%;
            height: fit-content;
            text-align: center;
            position: fixed;
            display: flex;
            left: 0%;
            right: 0%;
            top: 0%;
            bottom: 0%;
            background: #FFFFFF;
            mix-blend-mode: normal;
            box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.12);
            .title--shop-list {
                @media only screen and (max-width: 144px){
                    width: inherit;
                }
                .span {
                    @media only screen and (max-width: 250px){
                        display: none;
                    }
                    margin-top: 17px;
                    margin-bottom: 16px;
                    margin-left: 11px;

                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 23px;
                    color: #FF5025;
                    display: inline-block;
                }
                div {
                    margin-left: 13px;
                    display: inline-block;
                    margin-top: 3px;
                    margin-bottom: 8px;
                    left: 0%;
                    right: 0%;
                    top: 0%;
                    bottom: 0%;
                    width: 39px;
                    height: 39px;
                    background: #FFFFFF;
                    border-radius: 50%;
                    border: 1px solid rgba(119, 142, 148, 0.25);
                    box-sizing: border-box;
                    svg {
                        margin-left: -4px;
                    }
                }
            }
            .points--shop-list {
                
                @media only screen and (max-width: 144px){
                    width: inherit;
                }
                svg {
                    margin-left: 7px;
                    margin-right: 7px;
                }
                .span {
                    vertical-align: sub;
                    left: 0%;
                    right: 36.79%;
                    top: 0%;
                    bottom: 0%;
                    
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21px;
                    display: inline-block;
                    align-items: center;
                    text-align: right;
                    letter-spacing: 0.0357143em;
                    
                    color: #000000;
                }
            }
        }

        .footer--shop-list {
            margin-top: calc(100vh - 56px);
            z-index: 1;
            padding: 0;
            width: 100%;
            height: 56px;
            position: fixed;
            display: none;
            left: 0%;
            right: 0%;
            top: 0%;
            bottom: 0%;
            background: #FFFFFF;
            mix-blend-mode: normal;
            box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.12);
            div {
                @media only screen and (max-width: 224px){
                    margin-left: 2px !important;
                    margin-right: 2px !important;
                }
                margin-left: 17px;
                margin-right: 17px;
                display: inline-block;
                margin-top: 3px;
                margin-bottom: 8px;
                left: 0%;
                right: 0%;
                top: 0%;
                bottom: 0%;
                width: 39px;
                height: 39px;
                background: #FFFFFF;
                border-radius: 50%;
                border: 1px solid rgba(119, 142, 148, 0.25);
                box-sizing: border-box;
                box-shadow: 1px 1px 3px rgba(134, 134, 134, 0.9), -1px -1px 2px rgba(255, 255, 255, 0.9), 1px -1px 2px rgba(217, 217, 217, 0.2), -1px 1px 2px rgba(217, 217, 217, 0.2), inset -1px -1px 2px rgba(217, 217, 217, 0.5), inset 1px 1px 2px rgba(255, 255, 255, 0.3);
                
            }
            .btn-move {
                svg {
                    margin-left: -4px;
                }
                margin-right: calc(50% - 17.5px);
            }
            .btn-delete {
                svg {
                    margin-left: 0px;
                }
                margin-right: calc(50% - 17.5px);
            }
        }
        .active {
            display: flex;
        }
    }
    .tabset--shop-list {
        ::ng-deep .tab-content {
            position: absolute;
            display: flex;
            flex-direction: row;
            margin-top: 63px;
            margin-bottom: 56px;
            .list--shop-list {
                padding: 0;
                .good-li--shop-list {
                    margin: 5px;
                    display: inline-flex;
                    flex-direction: column;
                    padding: 5px 8px;
                    width: 105px;
                    height: 142.2px;
                    left: 11px;
                    top: 98px;
                    transition: width 0.3s, background-color 0.5s;
                    

                    /* White */
                    /* Light_Grey_25 */

                    border: 1px solid rgba(119, 142, 148, 0.25);
                    box-sizing: border-box;
                    border-radius: 12px;
                    transition: color 0.7s , background-color 0.7s , border-color 0.7 , box-shadow 0.7s;
                    
                    .good-div--shop-list {

                        div {
                            transition: color 0.7s;
                        }
                        .good__title {
                            transition: color 0.7s;
                        }
                        .good__price {
                            transition: color 0.7s;
                        }
                        path {
                            transition: fill 0.7s;
                        } 
                    
                    
                        
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        div {
                            left: 0%;
                            right: 0%;
                            padding: 0;
                            top: 0%;
                            bottom: 0%;
                            width: 63.53px;
                            height: 63.53px;
                            border-radius: 50%;

                            /* White */

                            background: #FFFFFF;
                            /* Light Shadow */

                            box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
                            
                        }
                        
                        .good__title {
                            margin-top: 5px;
                            flex: 2;
                            top: 58.72%;
                            bottom: 24.4%;
                            
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 16px;
                            display: flex;
                            align-items: center;
                            text-align: center;
                            
                            /* Black */
                            
                            color: #232526;
                            
                            /* Inside Auto Layout */
                            align-self: center;
                        }
                        .good__price {
                            flex: 1;
                            left: 22.86%;
                            right: 46.13%;
                            top: 82.63%;
                            bottom: 7.88%;
                            display: flex;
                            align-items: flex-end;
                            
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 16px;
                            text-align: right;
                            letter-spacing: 0.0357143em;
                            
                            /* Black */
                            
                            color: #232526;
                            
                            svg {
                                margin-left: 4px;
                                margin-bottom: 2px;
                            }
                        }
                        .li-buyed {
                            display: none;
                        }
                        .span-buyed {
                            display: none;
                        }
                        .li-confirm {
                            display: none;
                        }
                        .span-confirm {
                            display: none;
                        }
                        .li-back {
                            display: none;
                        }
                        .span-back {
                            display: none;
                        }
                        .li-child {
                            display: none;
                        }
                    }
                    .child {
                        .li-child {
                            display: initial;
                            margin-block-start: -65px;
                            margin-inline-start: -54px;
                            svg{
                                width: 35px;
                                margin-top: 2px !important;
                            }
                        }
                        div.li-selectable {
                            margin-inline-start: 30px;
                        }
                    }
                }

                .selected {
                    border: 1.5px solid #FF5025;
                    //margin-top: -1.5px;
                    //margin-bottom: -1.5px;
                }
                .moving-start{
                    .good-div--shop-list {
                        margin-top: 31px; 
                        .li-buyed {
                            display: initial;
                            margin-top: -24px;
                            svg{
                                margin-top: 15px;
                            }
                        }
                        div {
                            display: none;
                        }
                        .good__title {
                            display: none;
                        }
                        .span-buyed {
                            display: flex;
                        }
                    }        
                    background-color: #FF6464;
                }
                .moving {
                    background-image: linear-gradient(306.44deg, #FF6464 15.62%, #FFBB55 80.73%);
                    /* Orange */

                    border: 1px solid #FF5025;
                    .good__price path {
                        fill: #FFFFFF;
                    }
                }
                .delete-start{
                    .good-div--shop-list {
                        div {
                            color: white;
                            box-shadow: 2px 4px 4px white;  
                        }
                        .good__title {
                            color: white;   
                        }
                        .good__price {
                            color: white;  
                        }
                        path {
                            fill: white;
                        } 
                    }
                    color: white;        
                    background-color: rgb(255, 255, 255);
                    border-color: white;
                }
                .confirm-start{
                    .good-div--shop-list {
                        margin-top: 31px;  
                        .li-confirm {
                            display: initial;
                            margin-top: -24px;
                            svg{
                                margin-top: 15px;
                            }
                        }
                        div {
                            display: none;
                        }
                        .good__title {
                            display: none;
                        }
                        .span-confirm {
                            display: flex;
                        }
                    }        
                    background-color: #FF6464;
                }
                .confirm {
                    background: linear-gradient(306.44deg, #FF6464 15.62%, #FFBB55 80.73%);
                    .good__price path {
                        fill: #FFFFFF;
                    }
                }
                .back-start{
                    .good-div--shop-list {
                        margin-top: 31px;  
                        .li-back {
                            display: initial;
                            margin-top: -24px;
                            svg{
                                margin-top: 15px;
                            }
                        }
                        div {
                            display: none;
                        }
                        .good__title {
                            display: none;
                        }
                        .span-back {
                            display: flex;
                        }
                    }        
                    background-color: #99CEFF;
                }
                .back {
                    background: linear-gradient(306.44deg, #99CEFF 17.19%, #8875FF 87.5%);
                    .good__price path {
                        fill: #FFFFFF;
                    }
                }
                .hide {
                    margin: 0;
                    padding: 0px;
                    width: 0px;
                    height: 0px;
                    border: 0px;
                    div {
                        display: none  !important;
                    }
                }
                .hidden {
                    display: none;
                }
                
            }
        }

        ::ng-deep .nav-pills path{
            fill: #232526;
        }
        ::ng-deep .nav-pills .active path{
            fill: #FF5025;
        }
        ::ng-deep .nav-pills .nav-item{
           display: flex;
        }

        ::ng-deep .nav-pills {
            z-index: 1;
            position: fixed;
            width: 100%;
            overflow: initial;
            display: flex;
            flex-direction: row;
            left: 0px;
            top: calc(100% - 56px);
            @media only screen and (max-width: 184px){
                top: calc(100% - 46px);
            }

            /* White */

            background: #FFFFFF;
            box-shadow: -2px -4px 4px rgba(0, 0, 0, 0.1);
            border-radius: 10px 10px 0px 0px;
        }

        ::ng-deep .nav-pills .nav-link{
            flex: 1;
            height: 46px;
            display: flex;
            flex-direction: column;
            padding: 0px 0px;
            margin: 5px;
            @media only screen and (max-width: 184px){
                margin: 1px;
            }
            position: static;
            left: 66.94%;
            right: 1.94%;
            top: 8.93%;
            bottom: 8.93%;

            background: #FFFFFF;
            /* Light_Grey_25 */

            border: 1px solid rgba(119, 142, 148, 0.25);
            box-sizing: border-box;
            border-radius: 10px;

            /* Inside Auto Layout */
            order: 2;
            align-self: center;
            
            span {

                @media only screen and (max-width: 184px){
                    display: none;
                }

                left: 14.29%;
                right: 14.29%;
                top: 73.91%;
                bottom: 0%;
                margin-top: 2px;
                
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 10px;
                line-height: 12px;
                /* identical to box height */
                
                display: flex;
                align-items: center;
                text-align: center;
                letter-spacing: 0.0357143em;
                
                /* Light_Grey */
                
                color: #778E94;
                
                /* Inside Auto Layout */
                
                flex: none;
                order: 1;
                align-self: center;
                margin: 0px 2px;
            }
            div {
                align-self: center;
                left: 0%;
                right: 0%;
                top: 0%;
                bottom: 0%;
                width: 32px;
                height: 33px;
                border-radius: 50%;
                padding: 0;


                /* White */

                background: #FFFFFF;
                /* Light_Grey_25 */

                border: 1px solid rgba(119, 142, 148, 0.25);
                box-sizing: border-box;
                /* Light Shadow */

                box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
                svg {
                    margin-left: 2px;
                    margin-top: 8px;
                }
            }
        }

        &.isParent {
            ::ng-deep .nav-pills {
                padding-right: calc(42px + 7px + 5px);
            }
        }
    }

    .modal {
        flex-direction: column;
        position: fixed;
        display: flex;
        width: calc(100% - 30px);
        height: 526px;
        margin-top: calc(-5px + (100vh - 526px)/2);
        @media only screen and (max-height: 500px){
            margin-top: 20px;
        }
        margin-left: 200vh;
        margin-right: 15px;

        background: #FFFFFF;
        /* Light_Grey_25 */

        border: 1px solid rgba(119, 142, 148, 0.25);
        box-sizing: border-box;
        box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        transition: margin-left 0.7s;
        padding-top: 22px;
        padding-left: 17px;
        padding-right: 17px;

        div {
            flex: 1;
            margin-bottom: 17px;
            .span {
                
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.0357143em;
                display: flex;

                /* Light_Grey */

                color: #778E94;
            }
            .title {
                margin-bottom: 10px;
            }
            input.title--value {
                margin-bottom: -11px;
                margin-top: -7px;
                width: calc(100% - 20px);
                height: 48px;
                background: #FFFFFF;
                /* Light_Grey_25 */

                border: 1px solid rgba(119, 142, 148, 0.25);
                box-shadow: inset 3px 3px 4px rgba(0, 0, 0, 0.05);
                border-radius: 6px;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 21px;
                letter-spacing: 0.0357143em;

                color: #000000;
                flex: none;
                order: 0;
                align-self: center;
                padding-left: 10px;
            }
            .title--value {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 21px;
                letter-spacing: 0.0357143em;

                color: #000000;
                overflow: hidden;
            }
            .category {
                margin-bottom: 1px;
            }
            .category--value {
                display: flex;
                align-items: center;
                padding-left: 50px;
                background: #FFFFFF;
                overflow: hidden;
                width: calc(100% - 20px);
                height: 48px;
                /* Light_Grey_25 */

                border: 1px solid rgba(119, 142, 148, 0.25);
                border-radius: 6px;
                
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 21px;
                letter-spacing: 0.0357143em;

                color: #000000;
            }
            .category--value__dropdown {
                box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.5);
                border: 1px solid rgba(119, 142, 148, 0.4);
                width: calc(100% - 54px);
                border-radius: 8px;
                position: absolute;
                margin-block-start: -10px;
                display: none;
                .category {
                    margin: 0px;
                    display: flex;
                    align-items: center;
                    padding-left: 50px;
                    background: #FFFFFF;
                    width: calc(100% -  4px);
                    height: 48px;
                    /* Light_Grey_25 */
    
                    border: 0px;
                    
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 21px;
                    letter-spacing: 0.0357143em;
    
                    color: #000000;
                }
                &.active{
                    display: initial;
                }
            }
            .icon {
                
                position: absolute;
                margin: 0px;
                margin-top: 9px;
                margin-left: 9px;
                align-self: flex-end;
                flex: none;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                padding: 0;


                /* White */

                background: #FFFFFF;
                /* Light_Grey_25 */

                box-sizing: border-box;
                /* Light Shadow */

                box-shadow: 1px 1px 3px rgba(134, 134, 134, 0.9), -1px -1px 2px rgba(255, 255, 255, 0.9), 1px -1px 2px rgba(217, 217, 217, 0.2), -1px 1px 2px rgba(217, 217, 217, 0.2), inset -1px -1px 2px rgba(217, 217, 217, 0.5), inset 1px 1px 2px rgba(255, 255, 255, 0.3); 
                svg {
                    margin-top: 9px;
                    margin-left: 5px;
                }
            }
            .ico1 {

                svg {
                    width: 14px;
                    margin-top: -14px;
                    margin-left: 7px;
                }
            }
            .ico2 {
            
                svg {
                    width: 24px;
                    margin-top: -4px;
                    margin-left: 3px;
                }
            }
            .ico3 {
            
                svg {
                    width: 19px;
                    margin-top: -16px;
                    margin-left: 6px;
                }
            }
            .ico4 {
            
                svg {
                    width: 16px;
                    margin-top: -6px;
                    margin-left: 7px;
                }
            }
            .ico5 {
            
                svg {
                    width: 16px;
                    margin-top: -6px;
                    margin-left: 8px;
                }
            }
            .ico6 {
            
                svg {
                    width: 17px;
                    margin-top: -5px;
                    margin-left: 7px;
                }
            }
            .ico7 {
            
                svg {
                    width: 22px;
                    margin-top: -4px;
                    margin-left: 4px;
                }
            }
            .price {
                margin-bottom: 4px;
            }
            .price--value {
                overflow: hidden;
                input {
                    overflow: hidden;
                    width: 130px;
                    height: 47px;
                    @media only screen and (max-width: 233px) {
                        width: 80%;
                    }
    
                    /* Color/Neutral/6 - White */
    
                    background: #FFFFFF;
                    /* Light_Grey_25 */
    
                    border: 1px solid rgba(119, 142, 148, 0.25);
                    border-radius: 6px;
    
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21px;
                    align-items: center;
                    text-align: right;
                    letter-spacing: 0.0357143em;
    
                    color: #000000;
    
    
                    /* Inside Auto Layout */
    
                    flex: none;
                    order: 0;
                    align-self: center;
                    margin: 7px 0px;
    
                    padding-right: 51px;
                    @media only screen and (max-width: 187px) {
                        padding-right: 0px;
                    }
                }
                svg {
                    margin-left: -43px;
                    margin-top: -3px;
                    @media only screen and (max-width: 187px) {
                        display: none;
                    }
                }
                
            }
            
            .about {
                margin-bottom: 7px;
            }
            .about--value {
                overflow: hidden;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 15px;
                letter-spacing: 0.0357143em;

                color: #000000;
                width: calc(100% - 20px);
                height: 106px;

            }
            textarea.about--value {
                background: #FFFFFF;
                /* Light_Grey_25 */

                border: 1px solid rgba(119, 142, 148, 0.25);
                box-shadow: inset 3px 3px 4px rgba(0, 0, 0, 0.05);
                border-radius: 6px;
                
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 15px;
                letter-spacing: 0.0357143em;

                color: #000000;
            }
        }

        .modal-footer {
            margin-bottom: 0px;
            margin-left: -17px;
            margin-right: -17px;
            flex: 3;
            justify-content: space-between;
            padding: 0;
            border: 0;
            display: flex;
            div {
                @media only screen and (max-width: 180px) {
                    margin: 2px !important;
                }
                align-self: flex-end;
                flex: none;
                width: 41px;
                height: 41px;
                border-radius: 50%;
                padding: 0;


                /* White */

                background: #FFFFFF;
                /* Light_Grey_25 */

                box-sizing: border-box;
                /* Light Shadow */

                box-shadow: 1px 1px 3px rgba(134, 134, 134, 0.9), -1px -1px 2px rgba(255, 255, 255, 0.9), 1px -1px 2px rgba(217, 217, 217, 0.2), -1px 1px 2px rgba(217, 217, 217, 0.2), inset -1px -1px 2px rgba(217, 217, 217, 0.5), inset 1px 1px 2px rgba(255, 255, 255, 0.3);
            }
            .btn {
                margin-right: 17px;
                margin-left: 17px;
                margin-bottom: 18px;
            }
            .btn-move {
                svg {
                    margin-top: 10px;
                }
            }
            .btn-close {
                svg {
                    margin-top: 13px;
                }
            }
            .btn-confirm {
                svg {
                    margin-top: 13px;
                }
            }
            .btn-back {
                svg {
                    margin-top: 13px;
                }
            }
            .btn-create {
                width: 60vw;
                height: 43px;
                background: #FFFFFF;
                margin-left: 0px;
/* Orange */

                border: 1px solid #FF5025;
                box-sizing: border-box;
                border-radius: 6px;
                
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 23px;
                display: grid;
                align-items: center;
                text-align: center;

                /* Orange */

                color: #FF5025;
            }

            .btn-edit {
                width: 60vw;
                height: 43px;
                background: #FFFFFF;
                margin-left: 0px;
/* Orange */

                border: 1px solid #FF5025;
                box-sizing: border-box;
                border-radius: 6px;
                
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 23px;
                display: grid;
                align-items: center;
                text-align: center;

                /* Orange */

                color: #FF5025;
            }
        }
    }
    .modal{
        display: none;
    }
    .modal.active {
        margin-left: 15px;
    }
    .modal.received-modal {
        .modal-footer {
            align-self: flex-end;
        } 
    }
    .modal.bought-modal {

    }
    .modal.inStock-modal {

    }
    .modal.add-modal {
        .modal-footer {
            align-self: flex-end;
        } 
    }
    .modal.edit-modal {
        .modal-footer {
            .btn-delete {
                margin-left: 0px;
                margin-right: 18px;
                svg {
                    margin-top: 11px;
                }
            }
            .btn-close {
                margin-left: 0px;
                margin-right: 10px;
            }
            .btn-edit {
                margin-left: 17px;
                margin-right: 16px;
                width: 181px;
            }
        } 
    }
    .btn-add {
        position: fixed;
        z-index: 1;
        top: calc(100% - 7px - 42px);
        margin-inline-start: calc(100vw - 6px - 42px);
        background: #FFFFFF;
        box-shadow: 1px 1px 3px rgba(134, 134, 134, 0.9), -1px -1px 2px rgba(255, 255, 255, 0.9), 1px -1px 2px rgba(217, 217, 217, 0.2), -1px 1px 2px rgba(217, 217, 217, 0.2), inset -1px -1px 2px rgba(217, 217, 217, 0.5), inset 1px 1px 2px rgba(255, 255, 255, 0.3);
        align-self: flex-end;
        flex: none;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        padding: 0;
        display: none;
        svg {
            margin-top: 10px;
        }
        &.shown{
            display: initial;
        }
    }


}
.absolute {
    @media only screen and (max-height: 550px){
        position: absolute !important;
    }
}